/* AUXILIARY AND SERVICE */

* {
    margin: 0;
    outline: 1px #ffffff4e solid;
}

@font-face {
    font-family: "DisneyPark";
    src: url(./assets/fonts/DisneyPark.woff);
    font-style: normal; 
    font-weight: normal; 
}

@font-face {
    font-family: "DisneyPark";
    src: url(./assets/fonts/DisneyPark.woff2);
    font-style: normal; 
    font-weight: normal; 
}

@font-face {
    font-family: Georgia, serif;
    src: local(),
    url();
    font-style: normal; 
    font-weight: normal; 
}

/* --------------------------------------------- */

a{
    text-decoration: none;
    font-family: Georgia, serif;
    font-size: 20px;
    font-weight: 700;
    color: whitesmoke;
  }
  a:hover {
    color: rgb(26, 180, 207);
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    margin-left: 20px;
    margin-top: 30px;
    overflow: hidden;
  }
  
  nav ul {
    display: flex;
    justify-content: end;
    gap: 30px;
    align-items: center;
    list-style: none;
    width: 50%;
    margin-right: 30px;
  }
  body{
    background: rgb(0,0,64);
    background: linear-gradient(180deg, rgba(0,0,64,1) 0%, rgba(0,0,96,1) 50%, rgba(0,0,0,1) 100%);
    overflow-x: hidden;
  }



/* CONTACTS */

body {
    margin: 0 auto;
    width: 1200px;
}

.contact-h1 {
    text-align: center;
    color: white;
    font-size: 7rem;
    font-family: DisneyPark;
}

.contact-inner {
  margin: 0 auto;
}

.contact-h2 {
  color: white;
}

.inner_contact-wrap {
  display: flex;
  justify-content: last baseline;
  float: inline-start;
  width: 50%;
}

.inner_contact-input {
  width: 45%;
}

.inner_contact-textarea {
  width: 99%;
}

.inner_contact-img {
  width: 100%;
}

