a{
    text-decoration: none;
    font-family: Georgia, serif;
    font-size: 20px;
    font-weight: 700;
    color: whitesmoke;
  }
  a:hover {
    color: rgb(26, 180, 207);
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    margin-left: 20px;
    margin-top: 30px;
    overflow: hidden;
  }
  
  nav ul {
    display: flex;
    justify-content: end;
    gap: 30px;
    align-items: center;
    list-style: none;
    width: 50%;
    margin-right: 30px;
  }
  body{
    background: rgb(0,0,64);
    background: linear-gradient(180deg, rgba(0,0,64,1) 0%, rgba(0,0,96,1) 50%, rgba(0,0,0,1) 100%);
    overflow-x: hidden;
  }
